<!DOCTYPE html>
<html lang="{{ page.lang | default: site.langs[0] | default: "en" }}">

  {% include head.html %}

  <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  <body id="top">

    {% include header.html %}

    {% if page.layout == "post" %}
    <main class="post-content" aria-label="Content">
    {% else %}
    <main class="page-content" aria-label="Content">
    {% endif %}
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>